.about {
    background-color: azure;
}
.about__img {
    display: none;
}
.about {
    margin-bottom: 20px;
}
.about__title {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
.about__text {
    text-align: center;
}
.video__box {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}
.video {
    width: 100%;
}
@media (min-width: 550px){
   .about {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 700px; 
    padding: 5px;
    margin: 0 auto;
   }
   .about__img {
    display: flex;
    width: 150px;
   }
   .us__img {
    width: 100px;
   }
   .about__title{
    text-align: left;
   }
   .about__text {
    text-align: left;
   }
}